#container {
	display: grid;
	grid-template-rows: 3fr 1fr;
	position: fixed;
	margin: 0px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

#gameboard {
	display: grid;
	justify-items: center;
	align-items: center;
	grid-template-columns: repeat(14, 1fr);
	grid-template-rows: repeat(4, 1fr);
	border: solid grey 1px;
}

#cardholder {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border: solid grey 1px;
}

.card {
	border: solid black 1px;
	font-size: 1.5rem;
	width: 100px;
	height: 150px;
	margin: 10px 5px;
}