#container {
	display: grid;
	grid-template-rows: 1fr 3fr 1fr;
	position: fixed;
	margin: 0px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

#gameboard {
	background-color: darkgreen;
	display: grid;
	width: 100vw;
	justify-items: center;
	align-items: center;
	grid-template-columns: repeat(13, 1fr);
	grid-template-rows: repeat(4, 1fr);
	border: solid grey 1px;
}

#computerCardHolder {
	display: grid;
	width: 100vw;
	grid-template-columns: 1fr 1fr;
	background-color: darkgreen;
	border: solid grey 1px;
}

.computerCards {
	display: flex;
	width: 100%;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

#cardHolder {
	background-color: darkgreen;
	display: flex;
	width: 100%;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border: solid grey 1px;
}

.card {
	background-color: white;
	border: solid black 1px;
	border-radius: 10px;
	font-size: 1.5rem;
	width: 100px;
	height: 150px;
	margin: 5px 5px;
	transition-timing-function: ease-in-out;
	transition-duration: 100ms, 100ms;
}

.cardInHand {
	margin-right: -40px;
}

.cardInComputerHand {
	background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/330485/card_back_pattern.png');
	width: 80px;
	height: 120px;
	font-size: 0px;
	margin-right: -60px;
}

.card:hover {
	transform: scale(1.15);
}