#container {
	display: grid;
	grid-template-rows: 3fr 1fr;
	position: fixed;
	margin: 0px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

#gameboard {
	display: grid;
	width: 100vw;
	justify-items: center;
	align-items: center;
	grid-template-columns: repeat(13, 1fr);
	grid-template-rows: repeat(4, 1fr);
	border: solid grey 1px;
}

#cardholder {
	display: flex;
	width: 100%;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border: solid grey 1px;
	
}

.card {
	background-color: white;
	border: solid black 1px;
	border-radius: 10px;
	font-size: 1.5rem;
	width: 100px;
	height: 150px;
	margin: 10px 5px;
	margin-right: -50px;
	transition-timing-function: ease-in-out;
	transition-duration: 100ms, 100ms;
}

.card:hover {
	transform: scale(1.15);
}